<h3>{{ gameText }}</h3>

<div class="board" [class.board--locked]="gameOver">
  <div *ngFor="let square of board" class="board__square" [ngClass]="{'board__square--checked': square.value != '', 'board__square--state-win': square.win}"
    (click)="onMove(this.square)">
    {{ square.value }}
  </div>
</div>

<input type="button" value="Rematch" *ngIf="gameOver" (click)="newGame()" />
