.board {
  display: grid;
  width: 302px;
  margin: 0 auto;
  border: 1px solid #008CBA;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  font-size: 50px;
  color: #008CBA;
  background-color: #008CBA;
  grid-gap: 1px;
}

.board--locked {
  opacity: .7;
  pointer-events: none;
}

.board__square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  cursor: pointer;
}

.board__square--checked {
  cursor: default;
}

.board__square--state-win {
  background-color: #FFB6C1;
}

input[type=button] {
  margin-top: 20px;
  padding: 15px 32px;
  border-radius: 3px;
  color: #008CBA;
  background-color: #FFF;
  border: 2px solid #008CBA;
}
